<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <rewrite>
            <rules>
                <rule name="Redirect rule1 針對 首頁" stopProcessing="true">
                    <match url="^Product" />
                    <conditions>
                        <add input="{HTTP_HOST}" pattern="^www.tcmpmma.com$" />
                    </conditions>
                    <action type="Rewrite" url="/" appendQueryString="true" />
                </rule>
            </rules>
        </rewrite>
    </system.webServer>
</configuration>
